/* reset css file */
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	--global-color-primary: #1f1f1f; 
	--global-color-secondary: #343435;   /* main colour */
	--alt-color:#ae976f;    /* variant */
	--prim-text-color: #ffffff;     /* for text or icons */
	--alt-text-color: #b9b9b9;     /* for text or icons */
	--secondary-alt: #99ccff;
	--secondary-on: #131313;
	--btn-color:#8d5849;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body {
	margin: 0px;
	background-color: var(--global-color-primary);
	font-family: var(--font-family-monospace);
	color: var(--prim-text-color);
}
p{
	font-family: var(--font-family-sans-serif);
	color: var(--alt-text-color);
}

/* Preview each of these suggested resets before beginning your project styling */

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*
li > ul, li > ol {
	padding-left: 2.5em;
} */

input, button {
	margin: 0;
	font: inherit;
}

fieldset {
margin-bottom: 1em;
} 

legend {
	padding: 0;
	border: none;
} */


/* These will make "User agent stylesheet" values (Chrome) available when needed, using classes */
ul.ul {
	list-style-type: disc;
}
ol.ol {
	list-style-type: decimal;
}
ul.ul, ol.ol {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2.5em;
}
fieldset.fieldset {
	display: block;
	margin-inline-start: 0.125em;
	margin-inline-end: 0.125em;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
	border-width: 0.125em;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
}
legend.legend {
	display: block;
	padding-inline-start: 0.125em;
	padding-inline-end: 0.125em;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
a, button, a:hover {
    color:var(--alt-color);
    text-decoration: none;
    transition: all .25s ease;
    cursor: pointer;
}
h3{
	text-transform: capitalize;
	font-size: 2rem;
	margin: .5em 0;
}
